<div class="container">
<h2>Смена пароля</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
    <div class="form-inputs col-lg-4">
      <div class="form-group">
        <label>Новый пароль (от 8 символов)</label>
        <%= f.text_field :password, :autocomplete => "off", :required => false, :class => 'form-control'  %>
      </div>
      <div class="form-group">
        <label>Старый пароль (ведь это же вы?)</label>
        <%= f.text_field :current_password, :required => true, :class => 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Сменить пароль", :class => 'btn btn-success' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

  </div>
<% end %>

<h3>Всё надоело</h3>

<p>Жизнь потеряла смысл? <%= link_to "Удалить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
