<div class="container">
<h2>Зарегистрироваться</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-inputs col-lg-4">
    	<div class="form-group">
        <label>Электронная почта</label>
      	<%= f.text_field :email, :required => true, :autofocus => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <label>Пароль</label>
      	<%= f.text_field :password, :required => true, :class => 'form-control', :type => 'password' %>
        <small>Длина пароля не менее 8 символов</small>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Зарегистрироваться", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
<h3>Есть еще варианты</h3>
<%= render "devise/shared/links" %>
