<b>Вам пришел запрос бронирования с <a href="http://shotspace.ru">Shotspace.ru</a></b>
<p><strong>Имя отправителя:</strong>
<%= @booking_params.name %></p>
<p>Подробную информацию смотрите у себя в <a href="http://shotspace.ru/my/bookings">заявках</a>