.col-lg-3.col-md-3.col-sm-4.col-xs-12.user-in-list
  = image_tag user.avatar.url(:thumb)
  %h2 
    = link_to (user.username || "Безымянный фотограф"), user
  - if user.city
    %span.city-muted #{user.city.name}
  - else
    %span.city-muted Город N
  %p.list-price
    %b от #{user.hourprice  || "0"} рублей в час
  