.container
  %p#notice
    = notice
  %h2 Бронирование фотографа
  = simple_form_for(@booking) do |f|
    = f.error_notification
    = f.hidden_field :user_id, :value => params[:id]
    .alert.alert-warning Обратите внимание, что в указанную на странице фотографа цену входят только услуги самого фотографа. Другие услуги (например аренда студии или услуги визажиста оплачиваются отдельно).
    .row
      .form-inputs.col-lg-4
        .form-group
          %label Ваше имя
          = f.text_field :name, :required => true, :autofocus => true, :class => 'form-control'
        .form-group
          %label Электронная почта
          = f.text_field :email, :required => true, :autofocus => true, :class => 'form-control', :type => 'email'
        .form-group
          %label Телефон
          = f.text_field :phone, :required => true, :autofocus => true, :class => 'form-control'
        .form-group
          %label Выберите день или дни, в которые вам нужны услуги фотографа
          .input-group.date
            = f.text_field :daterange, :class => 'form-control'
            %span.input-group-addon
              %i.glyphicon.glyphicon-th
          :javascript
            $(function() {
              $('.input-group.date').datepicker({
                  orientation: "auto left",
                  multidate: true,
                  todayHighlight: true,
                  format: "'dd/mm/yyyy'"
              });
            });
        .form-group
          %label Подробная информация о вашем заказе (количество часов и так далее)
          = f.text_area :additional, :required => true, :autofocus => true, :class => 'form-control'
        .form-group
          %label Вы не робот? #{@booking.humanizer_question}
          = f.text_field :humanizer_answer, :class => 'form-control'
          = f.hidden_field :humanizer_question_id
        .form-group
          = f.button :submit, "Отправить", :class => 'btn btn-success'