.container
  %h2 Мои заявки
  %p Заявки на бронирование ваших услуг отправленные клиентами
  .table-responsive
    %table.table.table-striped
      %tr 
        %th Имя
        %th Время отправки
        %th Почта
        %th Телефон
        %th Даты бронирования
        %th Дополнительно
      - @bookings.each do |booking|
        %tr
          %td
            %p #{link_to booking.name, booking}
          %td
            %p #{booking.created_at}
          %td
            %p #{booking.email}
          %td
            %p #{booking.phone}
          %td
            %p #{booking.daterange}
          %td
            %p #{booking.additional}
  
      