.container
  .profile
    %h1 Редактирование профиля
    = simple_form_for(@user) do |f|
      - if @user.errors.any?
        #error_explanation
          %h2
            = pluralize(@user.errors.count, "error")
            prohibited this region from being saved:
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .row
        .col-lg-4.col-sm-12.col-xs-12
          .form-group
            %label Имя и фамилия
            = f.text_field :username, :class => 'form-control'
          .form-group.city-name
            %label Город
            = f.text_field :city_name, :class => 'form-control'
          .form-group
            %label Телефон
            = f.text_field :phone, :class => 'form-control'
          .form-group
            %label Электронная почта
            = f.text_field :email, :class => 'form-control'
          .form-group
            %label Цена за день работы
            = f.number_field :dayprice, :class => 'form-control'
          .form-group
            %label Цена за час работы
            = f.number_field :hourprice, :class => 'form-control'
          .form-group
            %label Рабочий календарь (отметьте дни в которые вы заняты)
            .input-group.date
              = f.text_field :daterange, :class => 'form-control'
              %span.input-group-addon
                %i.glyphicon.glyphicon-th
            :javascript
              $(function() {
                $('.input-group.date').datepicker({
                    orientation: "auto left",
                    multidate: true,
                    todayHighlight: true,
                    format: "'dd/mm/yyyy'"
                });
              });
          .form-group
            %label Жанры в которых вы работаете
            .form-group
            - Category.all.each do |category|
              %ul.list-inline
                %li
                  %p
                    = check_box_tag "user[category_ids][]", category.id, @user.category_ids.include?(category.id)
                    = category.name
          .form-group
            = f.input :avatar, as: :file, label: 'Аватар'
          .form-group
            Загружен #{image_tag @user.avatar.url(:micro), :class => 'img-thumbnail load-avatar'}
          .form-group
            .actions
              = f.submit 'Сохранить', class: 'btn btn-default'
:coffeescript
  $('input#user_city_name').typeahead({
    remote: '/autocomplete?term=%QUERY'
  });

  $('input').keyup ->
    $(this).val($(this).val().substr(0, 1).toUpperCase() + $(this).val().substr(1).toLowerCase())
