.container
  .users-result
    %h1 Все пользователи
    = search_form_for @search, :html => {:class => "form-inline"} do |f|
      .form-group
        = text_field_tag :city_id, params[:city_id], :class => 'form-control', :placeholder => 'Название города'
      .form-group
        = f.hidden_field :city_id_eq
      .form-group
        .actions
          = f.submit "Найти", :class => 'btn btn-default'
    %hr
  .row.user-preview
    #users
      = render @users
  = will_paginate @users
:coffeescript
  $('input#city_id').typeahead({
    remote: '/autocomplete?term=%QUERY'
  });
  
  $("input#city_id").on "typeahead:selected", (object, datum) ->
    $("input#q_city_id_eq").val(datum.link)

  # set caret active
  $(document).ready ->
    $("input#city_id").focus()

  $('input').keyup ->
    $(this).val($(this).val().substr(0, 1).toUpperCase() + $(this).val().substr(1).toLowerCase())
  
  