- if @photos.present?
  .portfolio_container.photos_page
    .portfolio_preview
      - @user.photos.order('created_at DESC').each do |photo|
        .portfolio_item
          = link_to(image_tag(photo.image.url(:medium)), image_path(photo.image.url(:original)), :class => 'box', :rel => 'group')
- else
  .scroll_dummy
    %p Пользователь не загрузил ни одной фотографии
:javascript

  var $container = $('.portfolio_preview');
  $container.imagesLoaded(function(){
    $container.masonry({
      // options
      itemSelector : '.portfolio_item'
    });
  });

  $(document).ready(function() {
    $(function(){
        $('.box').touchTouch();
    });
  });