.container
  %p#notice
    = notice
  .profile
    .row
      .col-lg-6.col-md-12
        %h1 #{@user.username || 'Имя не указано'}
      .col-lg-6.col-md-12
        - if @user == current_user
        - else
          %script{charset: "utf-8", src: "//yandex.st/share/share.js", type: "text/javascript"}
          .yashare-auto-init{"data-yasharel10n" => "ru", "data-yasharequickservices" => "vkontakte,facebook,twitter,odnoklassniki", "data-yasharetheme" => "counter"}
    .row
      .col-lg-8.col-sm-8.about
        %div
          .row
            .col-lg-4.avatar-container
              = image_tag @user.avatar.url(:thumb)
            .col-lg-8.about-data
              - if @user.city
                .span.glyphicon.glyphicon-map-marker
                = link_to @user.city.name, @user.city
              - else
                .span.glyphicon.glyphicon-map-marker
                = link_to "Город N", root_path
              - if @user.categories.present?
                .tagline
                - @user.categories.each do |category|
                  .label-tag
                    = category.name
              - else
                .tagline
                  .label-tag Категории пока не указаны
              %p.profile-contact
                %span.text-muted Телефон:&nbsp;
                = @user.phone || "не заполнено"
                &nbsp;
                %span.text-muted Сайт:&nbsp;
                = @user.website || "не заполнено"
      .col-sm-4.col-lg-4
        %table.book-column
          %tr
            %td
              - if @user != current_user
                = link_to "Забронировать", user_booking_path, :class => 'btn btn-success book-button'
          %tr
            %td
              %p.profile-price
                от 
                %b
                  #{@user.hourprice || "100"}
                руб. / час
              %p.text-muted от #{@user.dayprice || "200"} руб. / день
- if @photos.present?
  %ul.cbp-rfgrid
    = render :partial => 'photos'
  .load_more
    = link_to 'Показать больше фотографий', user_path(:page => @photos.next_page), :class => 'load-more-photos', :remote => true if @photos.next_page
- else
  .scroll_dummy
    %p Пока не загружено ни одной фотографии
    - if @user == current_user
      = link_to "Загрузить", user_upload_path, :class => 'btn btn-default btn-upload-empty'
.calendar-block
  .container
    %h2 Рабочий календарь
    .calendar_show
      .shield
:javascript
  $(function() {
      $('.calendar_show').datepicker('setDates', [#{@user.daterange}]).datepicker('language', 'ru');
  });

  $(document).ready(function(){
      $('body').on('mousedown', ".box", function (){
        $('.placeholder').remove();
        $('.box').touchTouch();
      });

  });
  