.container
  .profile
    %h1 Управление фотографиями
    %p Загрузка изображений, максимальный размер одного файла 10мб, не более 10 файлов за 1 раз
    #filelist Your browser doesn't have Flash, Silverlight or HTML5 support.
    #console
    %br/
    #container.uploader-ui
      %a#pickfiles.btn.btn-primary{href: "javascript:;"} Выбрать файлы
      %a#uploadfiles.btn.btn-success{href: "javascript:;"} Загрузить
    %br/
    .row.image-control
      - @user.photos.order('created_at DESC').each do |photo|
        .col-sm-3.col-lg-3.column.ui-sortable.preview-thumb
          = link_to "x", photo, method: :delete, data: {confirm: "Are you sure?"}, :class => 'destroyer'
          = image_tag photo.image.url(:thumb), :class => 'uploader-img'
:javascript
  var token = $( 'meta[name="csrf-token"]' ).attr( 'content' );
  var uploader = new plupload.Uploader({
      runtimes : 'html5,flash,silverlight,html4',
       
      browse_button : 'pickfiles', // you can pass in id...
      container: document.getElementById('container'), // ... or DOM Element itself
       
      url : '/photos',
      multipart : true,
      multipart_params : {
        '#{request_forgery_protection_token}': '#{form_authenticity_token}',
        '#{Rails.application.config.session_options[:key]}': '#{request.session_options[:id]}'
      },

      filters : {
          max_file_size : '10mb',
          mime_types: [
              {title : "Image files", extensions : "jpg,gif,png"},
              {title : "Zip files", extensions : "zip"}
          ]
      },
      resize: {
        width: 900,
        height: 600
      },
      // Flash settings
      flash_swf_url : 'http://rawgithub.com/moxiecode/moxie/master/bin/flash/Moxie.cdn.swf',
   
      // Silverlight settings
      silverlight_xap_url : 'http://rawgithub.com/moxiecode/moxie/master/bin/silverlight/Moxie.cdn.xap',
       
   
      init: {
          PostInit: function() {
              document.getElementById('filelist').innerHTML = '';
   
              document.getElementById('uploadfiles').onclick = function() {
                  uploader.start();
                  return false;
              };
          },
   
          FilesAdded: function(up, files) {
              plupload.each(files, function(file) {
                  document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
              });
          },
   
          UploadProgress: function(up, file) {
              document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
          },
   
          Error: function(up, err) {
              document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;

          }
      }
  });

  uploader.bind('UploadComplete', function() {
      if (uploader.files.length == (uploader.total.uploaded + uploader.total.failed)) {
          $.ajax({
              url: "",
              context: document.body,
              success: function(s,x){
                  $(this).html(s);
              }
          });
          $("#console").html('Файлы успешно загружены');
      }
  });

  uploader.bind('FilesAdded', function(up, files) {
      if(up.files.length > 10 || uploader.files.length > 10 || files.length > 10)
      {
          $("#console").html('Можно загружать не более 10 файлов за один раз');
          return false;
      }
  });
   
  uploader.init();