<div class="container">
<h2>Смена пароля</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <div class="row">
    <div class="form-inputs col-lg-4">
      <div class="form-group">
        <label>Новый пароль</label>
        <%= f.text_field :password, :required => true, :autofocus => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <label>Еще раз</label>
        <%= f.text_field :password_confirmation, :required => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Изменить пароль", :class => 'btn btn-success' %>
      </div>
    </div>
    </div>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>
