<div class="container">
<h2>Забыли свой пароль?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<div class="row">
  		<div class="form-inputs col-lg-4">
  			<div class="form-group">
  				<label>Электронная почта</label>
  				<%= f.text_field :email, :required => true, :autofocus => true, :class => 'form-control' %>
  			</div>
  			<div class="form-group">
        		<%= f.button :submit, "Выслать инструкцию по восстановлению", :class => 'btn btn-success' %>
        	</div>
        </div>
 	</div> 	
 </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
