.container
  .row.not-found
    .col-lg-3 #{image_tag '/assets/rabbit.jpg', :class => '.pull-right'}
    .col-lg-9
      %h1 404 – такой страницы не существует
      %h2 Нео, ты?
      %p Загадай число от 1 до 100 и нажми на кнопку. Если это то самое число, ты знаешь что делать дальше.
      %button.get.btn.btn-default Ну же, нажимай! 
      %h2.random-number
:javascript

    $(".get").click(function() {
      $('h2.random-number').html(1 + Math.floor(Math.random() * 100));
    });