.container
  .row
    .col-lg-12
      %h3 Ты фотограф? Получи в подарок iPhone 5S!
      %ul
        %li #{link_to 'Зарегистрируйся', new_user_registration_path} на сайте #{link_to 'http://shotspace.ru', root_path}
        %li Заполни свой профиль и загрузи не менее 10 фотографий в портфолио
        %li 
          Подпишись
          %a{href: 'http://vk.com/shotspace'} на нашу страницу Вконтакте
        %li 
          Ожидай окончания акции и 
          %b получай подарок!
      %p iPhone 5S получит один из первых 1000 зарегистрированных пользователей! Победителя выберет генератор случайных чисел. Твои шансы высоки! Еще двое получат приятные поощрительные подарки. Не упускай реальную возможность, #{link_to 'регистрируйся прямо сейчас', new_user_registration_path}!

      = link_to "Зарегистрироваться", new_user_registration_path, :class => 'btn btn-success goto btn-lg'
      %p #{image_tag '/assets/iphone.jpg', :class => 'iphone'}
      %small
        %p.details Срок проведения акции до 1 июня 2014 года, данные пользователя и фотографии загруженные в портфолио должны принадлежать загрузившему их пользователю, в акции могут принимать участие только фотографы (уровень исполнения работ в портфолио должен быть выше чем снимки сделанные людьми, не имеющими отношения к фотографии)