.container.welcome
  .logo-main
    %img{src: '/assets/logo.svg'}
  %h2 Найдите фотографа в вашем городе
  %p.target
  = text_field_tag(nil, nil, :class => 'typeahead form-control input-lg', :placeholder => 'Ваш город', :autocapitalize => 'on')
  %ul.list-inline.city-suggestions
    %li
      %a{href: '/cities/6028'} Москва
    %li
      %a{href: '/cities/5715'} Краснодар
    %li
      %a{href: '/cities/6575'} Санкт-Петербург
    %li
      %a{href: '/cities/6174'} Новосибирск
    %li
      %a{href: '/cities/5730'} Сочи
    %li
      %a{href: '/cities/6714'} Екатеринбург
  %h2.second-header Я фотограф
  %p.subtext Хочу больше заказов
  - if user_signed_in?
    = link_to "Перейти к моему профилю", user_path(current_user), :class => 'btn btn-success goto'
  - else
    = link_to (image_tag '/assets/vk-login.svg'), user_omniauth_authorize_path(:vkontakte), :class => 'welcome-vk'
    %p
      или просто
      = link_to 'Войти', new_user_session_path
      |
      = link_to 'Зарегистрироваться', new_user_registration_path
.virtual-footer
  %p &copy; 2014 Shotspace.ru


:coffeescript
  $('input.typeahead').typeahead({
    remote: '/autocomplete?term=%QUERY'
  });

  $("input.typeahead").on "typeahead:selected", (object, datum) ->
    $("input.typeahead").value = this.value
    window.location = 'cities/' + datum.link
  # set caret active
  $(document).ready ->
    $("input.typeahead").focus()

  $('input').keyup ->
    $(this).val($(this).val().substr(0, 1).toUpperCase() + $(this).val().substr(1).toLowerCase())
