<div class="container">
<h2>Войти</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="form-inputs col-lg-4">
    	<div class="form-group">
	        <label>Электронная почта</label>
	    	<%= f.text_field :email, :required => false, :autofocus => true, :class => 'form-control'  %>
	    </div>
	    <div class="form-group">
	        <label>Пароль</label>
    		<%= f.text_field :password, :required => false, :class => 'form-control', :type => 'password' %>
    	</div>
    	<div class="form-group">
    		<%= f.check_box :remember_me, :as => :boolean if devise_mapping.rememberable? %> Запомнить меня
    	</div>
        <div class="form-group">
        <%= f.button :submit, "Войти", :class => 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
</div>
