.container
  .users-result
    %h1 #{@city.name}
  - if @city.users.present?
    Подобрать фотографа
    .btn-group.category-dropdown
      %button.btn.btn-default
        По типу съемки:
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        - @categories.each do |category|
          %li #{link_to category.name, [@city, category]}
    %hr
    .row.user-preview
      #users
        = render @users
    = will_paginate @users
  - else
    %p.nobody В этом городе пока никто не зарегистрирован. Вы фотограф? #{link_to 'Будьте первым в своем городе!', new_user_registration_path}
:javascript

  $(document).ready(function() {
    $(function(){
        $('.box').touchTouch();
    });
  });
  

