.datepicker-inline {
	width: 100%;
	color: black;
	font-weight: 300;
}

.datepicker .table-condensed {
	width: 100%;
	text-align: center;
	background-color: white;
}

/* arrows & month switch */

.datepicker .table-condensed .prev, .next, .datepicker-switch {
	text-align: center;
	cursor: pointer;
}

/* arrows */
.datepicker .table-condensed .prev, .next {
	background-color: #1f80aa;
	color:white;
}

/* month switch */
.datepicker .table-condensed .datepicker-switch {
	background-color: #e6e6e6;
	color:#333333;
	font-weight: 300;
}

.datepicker .table-condensed thead {
	line-height: 30px;
}

/* day names cells */
.dow {
	text-align: center;
}

.day {
	line-height: 30px;
}

.active {
	background-color: rgb(255, 94, 94);
}

.old {
	color:silver;
}

.today {
	background-color: #ffcd70;
}