@font-face {
    font-family: 'entypo';
    src: url('/assets/entypo.eot');
    src: url('/assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('/assets/entypo.woff') format('woff'),
         url('/assets/entypo.ttf') format('truetype'),
         url('/assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* bootstrap fixes */


.btn {
	border-radius: 0px !important;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

input {
	border-radius: 0px !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: #ff949d;
box-shadow: 0 1px 1px white inset, 0 0 8px #ff949d;
outline: 0 none;
}

.navbar-inverse {
	background-color: #27272f;
	border: 0;
	border-radius: 0;
}

.navbar-inverse a {
	color:white !important;
}

@media (min-width: 760px) {
  .navbar .container-fluid {
  	margin-left:-15px;
  }
}
/* technical */
.oauth-warning {
	background-color: rgb(76, 66, 97);

	color:white;
	line-height: 40px;
	text-align: center;
}

.oauth-warning a {
	color: #7BA4C7;
}

.not-found {
	margin-top: 50px;
}

.random-number {
	font-size: 99px;
}

.load-avatar {
	width: 60px;
	height: 60px;
}
.yashare-auto-init {
  margin-top: 27px;
  float: right;
}

@media (max-width: 1200px) {
	.yashare-auto-init {
	    display: none;
	}
}
@media (max-width: 1000px) {
	.yashare-auto-init {
	    display: inline-block;
	    margin-top: -10px;
	    margin-bottom: 20px;
	    float: left;
	}

	.social-promo .yashare-auto-init {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	}
}
@media (max-width: 800px) {
  
}
@media (max-width: 400px) {
	.yashare-auto-init {
	    display: inline-block;
	    margin-top: -10px;
	    margin-bottom: 20px;
	    float: left;
	}
}

.details {
	margin-top: 50px;
	color: silver;
}

.iphone {
	margin-top: 50px;
}

.uploader-ui a {
	text-decoration: none;
}

.preview-thumb {
	padding-bottom: 20px;
}

.destroyer {
	position: absolute;
	margin-left: 85px;
	font-size: 15px;
	font-weight: 300;
	background-color: rgb(207, 79, 79);
	line-height: 10px;
	padding: 0px 4px 4px 4px;
	color: white;
	text-decoration: none;
}

.destroyer:hover {
	color: black;
}

#console {
	margin-bottom: 15px;
}

.btn-upload-empty {
	margin-top: -270px;
	color: white;
	background-color: #fd5757;
	border-color: white;
	text-decoration: none;
}
.btn-upload-empty:hover {
	background-color: white;
	color:#fd5757;
	border-color: #fd5757;
}

/* navbar */
.navbar-container {
	min-width: 1024px;
}

.shotspace-navbar {
	width:100%;
	height:65px;
	background-color: #27272f;
	color: white;
}

.back {
	width: 50px;
	height: 50px;
	background-color: #40b7ae;
	color: white;
	display: inline-block;
	float: left;
}

.back p {
	font-family: 'entypo';
	text-align: center;
	font-size: 92px;
	line-height: 50px;
}

.back a {
	text-decoration: none;
	color: white;
}

.navbar-controls ul {
	line-height: 65px;
	float: right;
}

.navbar-controls li {
	margin-right: 15px;

}

.navbar-controls a {
	color:white;
	text-decoration: underline;
}

.navbar-controls a:hover {
	color:white;
	text-decoration: none;
	background-color: none;
}

/* slider */
.scroll_dummy {
	background: #fd5757;
	color:white;
	margin-bottom: -10px;
	text-align: center;
	margin-top: 30px;
}

.scroll_dummy p {
	line-height: 20px !important;
	padding: 150px 0;
}

.scroll_holder {
	width: 100%;
	background-color: black;
}

.scroll_container {
	max-width:2600px;
	margin: 0 auto;
	padding: 5px;
	margin-top: 30px;
	height: auto;
	overflow-x: scroll;
	overflow-y: hidden;
}

.scroll_preview {
	width:9999px;
}

.scroll_preview > div {
	float:left;
	text-align: center;
}

.scroll_item {

}

.scroll_item img {
  	padding:5px 5px 5px 5px;
}

.portfolio_container {
	width:100%;
	background-color: black;
	padding: 5px;
	margin-top: 30px;
}

.portfolio_preview {
	margin: 0 auto;
	line-height: 0;
}

.portfolio_item {
	width: 20%;
}

.portfolio_preview img {
	width:100%;
  	padding:5px 5px 5px 5px;
}

@media (max-width: 1200px) {
  .portfolio_item {
  	width: 20%;
  }
}
@media (max-width: 1000px) {
  .portfolio_item {
  	width: 25%;
  }
}
@media (max-width: 800px) {
  .portfolio_item {
  	width: 33%;
  }
}
@media (max-width: 400px) {
  .portfolio_item {
  	width: 50%;
  }
}

.load_more {
	text-align: center;
	padding: 20px 0px;
	background-color: #2B2733;
	color: white;
}

.load_more:hover {
	opacity: 0.8;
}

.load_more a {
	text-decoration: none;
	color:white;
}

/* new portf*/

.cbp-rfgrid {
    margin: 35px 0 0 0;
    margin-bottom: -5px;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: #000000;
}
 
.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
 
.cbp-rfgrid li a,
.cbp-rfgrid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.cbp-rfgrid li a img {
    max-width: 100%;
}
 
/* Flexbox is used for centering the heading */
.cbp-rfgrid li a div {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
 
.cbp-rfgrid li a:hover div {
    opacity: 1;
}
 
.cbp-rfgrid li a div h3 {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 2px;
    padding: 0 10px;
}
  
@media screen and (max-width: 1190px) {
    .cbp-rfgrid li {
        width: 20%; /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
    .cbp-rfgrid li {
        width: 25%; /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
    .cbp-rfgrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
    .cbp-rfgrid li {
        width: 33.3333333%; /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 400px) {
    .cbp-rfgrid li {
        width: 50%; /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}
 
@media screen and (max-width: 300px) {
    .cbp-rfgrid li {
        width: 100%;
    }
}

.cbp-rfgrid img{
    opacity:1;
}
.cbp-rfgrid img:hover{
    opacity:0.8;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.shield {
	width: 100%;
	height: 320px;
	margin-top: 40px;
	position: absolute;
	background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}


/* profile */
.profile h1 {
	margin-bottom: 25px;
	text-transform: uppercase;
}


/* profile left column */
.first_name {
	font-weight: 300 !important;
}

.profile-about {
	margin-top: 25px;
}

.profile-location {
	font-family: 'entypo';
	font-size: 40px;
	display: inline-block;
}

.avatar-container {
	max-width: 160px;
	height: 145px;
	float:left;
	margin-right: 20px;
}

.tagline {
	margin-top: 10px;
}

.label-tag {
	border-radius: 0px !important;
	font-weight: 300 !important;
	color: white;
	padding: 0 10px;
	font-size: 13px;
	display: inline-block;
	background-color: #29abe2;
	margin-bottom: 3px;

}

.profile-contact {
	margin-top: 10px;
}

/* profile right column */

.book-column {
	text-align: right;
	float:right;
}

.profile-price {
	font-size: 24px;
	margin-top: 15px;
}

.book-button {
	float:right;
	text-decoration: none;
}

@media (max-width: 800px) {
	.book-column {
		text-align: left;
		float:left;
		margin-top: 15px;
	}

	.book-button {
		float:left;
	}

	.about-data {
		display: inline-block;
		margin-top: 15px;
	}
}
@media (max-width: 400px) {
	.book-column {
		text-align: left;
		float:left;
		margin-top: 15px;
	}
	.book-button {
		float:left;
	}

	.about-data {
		display: inline-block;
		margin-top: 15px;
	}

	h1 {
		
	}
}

.photos_page {
	margin-top: -20px;
}

/* calendar */
.calendar-block {
	background-color: #3a3a46;
}

.calendar-block h2 {
	padding-top: 45px;
	margin-bottom: 25px;
	color: white;
	text-transform: uppercase;
	font-size: 25px;
}

.calendar-back-icon {
	font-family: 'entypo';
	font-size: 100px;
	line-height: 65px;
}

.calendar_show {
	position: relative;
}
/* footer */
.footer {
	text-align: center;
	color:white;
	background-color: #27272f;
	padding: 65px;
}

.footer a {
	color: #808080;
}

/* welcome */

.welcome {
	text-align: center;
	position: relative;
}

.logo-main {
	margin-top: 50px;
}

.welcome h2 {
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 100px;
	line-height: 50px;
}

.welcome .subtext {
	text-transform: uppercase;
	font-size: 16px;
	color: #999999;
	font-weight: bold;
	margin-top: -15px;
}

.twitter-typeahead {
    width: 50%;
    position: relative;
    border: 7px solid #ed1e79;
    background: url(/assets/search.svg) no-repeat scroll 99% !important;
}

.city-suggestions {
	line-height: 50px;
}

@media (max-width: 400px) {
  .logo-main {
	margin-top: 20px;
  }
  .twitter-typeahead {
    width: 80%;
  }

  .welcome h2 {
  	margin-top: 20px;
  	font-size: 20px;
  	line-height: 25px;
  }

  .city-suggestions {
	line-height: 25px;
	margin-top: 10px;
  }

  /* mobile fix*/
}



.second-header {
	margin-top: 35px !important;
}

.welcome-vk {
	line-height: 50px;
}

.virtual-footer p {
	text-align: center;
	line-height: 200px;
}

@media (max-width: 400px) {
	.virtual-footer p {
		text-align: center;
		line-height: 50px;
	}
}

.goto {
	text-decoration: none;
}
/* typeahead */

.tt-dropdown-menu {
	border: 1px solid silver;
	width: 100% !important;
	text-align: left;
	background: white;
}

.tt-suggestions {

}

.tt-suggestion p {
	margin-bottom: 0px;
	padding: 5px 10px;
}

.tt-is-under-cursor {
	background-color: #61cedf;
}

.tt-hint {
	display: none;
}

.city-name .twitter-typeahead {
width: 100%;
position: relative;
border: none;
background: none !important;
}

/* user list */
.users-result .twitter-typeahead {
width: 100%;
position: relative;
border: none;
background: none !important;
}


.users-result h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.users-result .col-lg-2:first-child {
	margin-left: -15px !important;
}

.city-muted {
	font-weight: normal;
	font-size: 14px;
	color: silver;
}

.user-preview h2 {
	font-size: 16px !important;
    font-weight: 300;
    margin-top: 10px;
}

.user-preview {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;
}


.user-in-list {
	margin-bottom: 30px;
}

.list-price {
	line-height: 30px;
}

.nobody {
	margin-bottom: 930px;
}

.category-dropdown {
  	margin-left: 10px;
}

@media (max-width: 1200px) {
  .list-thumb {
  	width:145px;
  	height:auto;
  }

  .category-dropdown {
  	margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  .list-thumb {
  	width:145px;
  	height:auto;
  }

  .user-list-data {
  	margin-top: 20px;
  }

  .category-dropdown {
  	margin-left: 10px;
  }
}
@media (max-width: 800px) {
  .list-thumb {
  	width:145px;
  	height:auto;
  }

  .user-list-data {
  	margin-top: 20px;
  }

  .category-dropdown {

  }
}
@media (max-width: 400px) {
  .list-thumb {
  	width:100px;
  	height:auto;
  }

  .user-list-data {
  	margin-top: 20px;
  }

  .category-dropdown {
  	margin-left: 0px;
  }

}


