.container
  .users-result
    %h1 #{@city.name}
    %p
      Результаты для категории:
      %b #{@category.name}
    .row.user-preview
      #users{:style => 'margin-left: 15px;'}
        = render @users
    = will_paginate @users