<p>Привет!</p>

<p>Кто-то запросил ссылку на сброс вашего пароля. Если это были вы, то нажмите ссылку ниже:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если это сделал кто-то другой, просто не обращайте внимания на это письмо.</p>
<p>Ваш пароль не изменится пока вы не перейдете по ссылке или не измените его сами в настройках аккаунта.</p>
