<p>Привет!</p>

<p>Ваш аккаунт был заблокирован из-за многочисленных попыток входа с неверными данными.</p>

<p>Нажмите ниже для разблокировки:</p>

<p><%= link_to 'Разблокировать', unlock_url(@resource, :unlock_token => @token) %></p>
