<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Shotspace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/oauth_warning' %>
<%= render 'layouts/navbar' %>
<%= yield %>
<script type="text/javascript">
$(document).ready(function() {
	if(!Modernizr.svg){
	    $('img[src*="svg"]').attr('src', function() {
		return $(this).attr('src').replace('.svg', '.png');
	    });
	}
});
</script>
<%= render 'layouts/metrika' %>
</body>
</html>