.footer
  %p &copy; Shotspace.ru, поиск и бронирование фотографов
  %ul.list-inline
    %li
      = link_to 'Вход', new_user_session_path
    %li
      = link_to 'Регистрация', new_user_registration_path
