<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="back">
		<a href="/"><img src="/assets/logo-nav.svg"></a>
	  </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Заявки', my_bookings_path %></li>
        <li><%= link_to 'Мой профиль', user_path(current_user) %></li>
        <li><%= link_to 'Настройки профиля', edit_user_path(current_user) %></li>
        <li><%= link_to 'Загрузка фотографий', user_upload_path(current_user) %></li>
        <li><%= link_to 'Аккаунт', edit_user_registration_path(current_user) %>
		    <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
	    <% else %>
      <li><%= link_to 'Все фотографы', users_path %></li>
			<li><%= link_to 'Вход', new_user_session_path %></li>
			<li><%= link_to 'Регистрация', new_user_registration_path %></li>
		<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>