- if user_signed_in? && current_user.email =~ /(vk.com)/
  .oauth-warning
    Рекомендуем #{link_to "указать адрес", edit_user_path(current_user)} электронной почты, чтобы принимать заявки от пользователей