<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Ты фотограф? Получи в подарок iPhone 5S!</title>
  <meta name="description" content="Хочешь iPhone 5S? Ты можешь легко получить его">
  <%= stylesheet_link_tag    "bootstrap.min", "style", media: "all", "data-turbolinks-track" => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "bootstrap.min", "typeahead.min", "modernizr-latest.js","data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/oauth_warning' %>
<%= render 'layouts/navbar' %>
<%= yield %>
<script type="text/javascript">
$(document).ready(function() {
	if(!Modernizr.svg){
	    $('img[src*="svg"]').attr('src', function() {
		return $(this).attr('src').replace('.svg', '.png');
	    });
	}
});
</script>
<%= render 'layouts/metrika' %>
</body>
</html>