<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta Http-Equiv="Cache-Control" Content="no-cache">
  <meta Http-Equiv="Pragma" Content="no-cache">
  <meta Http-Equiv="Expires" Content="0"> 
  <title>Фотограф <%= @user.username %>, <%= @user.city.name if @user.city %>, заказать, портфолио, цены</title>
  <%= stylesheet_link_tag    "bootstrap.min", "style", "touchTouch", "datepicker-show", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "bootstrap.min","bootstrap-datepicker", "imagesloaded.pkgd.min", "modernizr-latest", "touchTouch.jquery", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/oauth_warning' %>
<%= render 'layouts/navbar' %>
<%= yield %>
<%= render 'layouts/footer' %>
<script type="text/javascript">
$(document).ready(function() {
	if(!Modernizr.svg){
	    $('img[src*="svg"]').attr('src', function() {
		return $(this).attr('src').replace('.svg', '.png');
	    });
	}
});
</script>
<%= render 'layouts/metrika' %>
</body>
</html>