<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>Онлайн бронирование фотографов, портфолио, найти фотографа - Shotspace.ru</title>
  <%= stylesheet_link_tag "bootstrap.min", "style", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/oauth_warning' %>
<%= render 'layouts/navbar' %>
<%= yield %>
<script type="text/javascript">
$(document).ready(function() {
	if(!Modernizr.svg){
	    $('img[src*="svg"]').attr('src', function() {
		return $(this).attr('src').replace('.svg', '.png');
	    });
	}
});
</script>
<%= javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=AAh3IVMBAAAAEtf9PgQAQYS59cC5tf_xqkAvdKRHA032nZAAAAAAAAAAAACcsZXY3HmackiOaRu0rkkYv5R5ew==" %>
<script>
if (YMaps.location) {
	var city = YMaps.location.city
	$('p.target').append('<p class="target">Похоже ваш город ' + city + '? <a href="" class="target-link">Найти фотографа в городе ' + city + '</a>');
	$('a.target-link').on('click', function(e) {
		e.preventDefault();
		$.getJSON( "/autocomplete?term=" + city, function( data ) {
			if (data.length) {
			  window.location = 'cities/' + data[0].link
			} else {
			  $('p.target').html('<p class="target">К сожалению, в этом городе никто не зарегистрирован</p>');
			}
		});
	});
}
else {
    /*something*/
}
</script>
<%= render 'layouts/metrika' %>
</body>
</html>